# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.DS_Store

lab/.gdbinit
lab/k.txt
lab/kernel.dump.txt
lab/obj/.deps
lab/obj/.vars.INIT_CFLAGS
lab/obj/.vars.KERN_CFLAGS
lab/obj/.vars.KERN_LDFLAGS
lab/obj/boot/boot
lab/obj/boot/boot.asm
lab/obj/kern/kernel
lab/obj/kern/kernel.asm
lab/obj/kern/kernel.img
lab/obj/kern/kernel.sym